<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Web Demo - Docker for Developers</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="card">
    <h1>It works! 🎉</h1>
    <p>Join us! We're awesome and we've got cookies 🍪</p>
    <img src="{{ url_for('static', filename='qr.png') }}" alt="QR Code" style="margin-top: 1.5em; max-width: 200px; display: block; margin-left: auto; margin-right: auto;" />
  </div>
</body>
</html>
